{% extends 'HomeIndex/HomeIndex.base.html' %}
{% load static %}

 
{% block block_content %}
    <div style="width : 100%;"> 
    <div class="row" style="padding-top : 200px;padding-left : 100px;width : 100%;"> 
        <div class="col" style="padding-left : 100px;width : 20%;"> 
            <img src="{% static 'images/mukesh_sahani.jpeg' %}" class="MyImage" alt="...">
        </div> 
        <div class="col" style="padding-top : 150px;width : 60%;margin-left : -300px;"> 
          <a href="https://github.com/MkshSahani"><img class="logoImages" src="{% static 'images/github.png' %}"> </img></a> 
          <a href="https://www.hackerrank.com/mkshsahani852"><img class="logoImages" src="{% static 'images/hackerrank.png' %}"> </img></a>
          <a href="https://www.linkedin.com/in/mukesh-sahani-27297318b/"><img class="logoImages" src="{% static 'images/linkdin.png' %}"> </img></a>   
        <hr style="color:white;width : 850px;margin-top : 100px;" /> 
        </div> 
    </div> 
    </div> 
 
        <h1 class="h1" style="color:white;margin-left : 250px;margin-top : 10px;"> 
            mukesh sahani 
        </h1> 
{% endblock %}  